:root {
  --primary-1: hsl(125, 86%, 14%);
  --primary-1-trans: hsla(125, 86%, 14%, .15);
  --primary-2: hsl(125, 73%, 20%);
  --primary-3: hsl(125, 56%, 29%);
  --primary-3-trans: hsla(125, 56%, 29%, .15);
  --primary-4: hsl(122, 47%, 35%);
  --primary-5: hsl(122, 39%, 41%);
  --primary-6: hsl(123, 35%, 51%);
  --primary-7: hsl(123, 38%, 63%);
  --primary-8: hsl(122, 42%, 75%);
  --primary-9: hsl(126, 49%, 84%);
  --primary-10: hsl(125, 65%, 93%);
  --grey-1: hsl(0, 0%, 13%);
  --grey-1-trans: hsla(0, 0%, 13%, .15);
  --grey-2: hsl(0, 0%, 23%);
  --grey-3: hsl(0, 0%, 32%);
  --grey-3-trans: hsla(0, 0%, 32%, .15);
  --grey-3-semi-trans: hsla(0, 0%, 32%, .65);
  --grey-4: hsl(0, 0%, 38%);
  --grey-5: hsl(0, 0%, 49%);
  --grey-6: hsl(0, 0%, 62%);
  --grey-7: hsl(0, 0%, 69%);
  --grey-8: hsl(0, 0%, 81%);
  --grey-9: hsl(0, 0%, 88%);
  --grey-9-trans: hsla(0, 0%, 88%, .50);
  --grey-10: hsl(0, 0% , 97%);
  --grey-11: hsl(0, 0%, 100%);
}

/* html tags */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--grey-10);
}

nav, header, section {
  display: flex;
  padding: 24px 32px;
  font-size: 24px;
  background-color: var(--grey-11);
}

nav {
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: var(--primary-4);
  background-image: linear-gradient(to bottom right, var(--primary-4), var(--primary-7));
  color: var(--grey-11);
}

section {
  flex-direction: column;
}

header .content-width div {
  display: inline-flex;
  flex-direction: column;
  margin-right: 12px;
  width: 384px;
  border-radius: 4px;
}

header .content-width div span {
  padding: 4px 0;
}

header .content-width div a {
}

header .content-width div:last-child { margin-right: 0; }

table {
  border-collapse: collapse;
  font-size: 20px;
}

td { padding: 12px; }

tr:nth-child(even) { background-color: var(--grey-10); }

/* block */
.content-width {
  padding: 24px 32px;
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width:800px) {
  .content-width {
    padding: 24px 150px;
    max-width: 1200px;
  }
}

/* element */
.btn {
  padding: 8px;
  background-color: var(--primary-4);
  color: var(--primary-10);
  border-radius: 4px;
}

.view {
  margin-top: 8px;
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  width: 4.1rem;
}

.label {
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 700;
  color: var(--primary-9);
}

.info {
  font-size: 48px;
  letter-spacing: 2px;
}
